.consejos{
    color: $blanco;
    font-size: 20px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: top;
    @media only screen and (max-width: 768px){
        font-size: 16px;
        }
        @media only screen and (max-width: 1024px){
            font-size: 18px;
        }
}
