div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 300px;
    @media (min-width: 1024px) {
        height: 500px; }
        
        @media (min-width: 1200px) {
            height: 550px; }
        @media (min-width: 1440px){
            font-size: 10px;}
}

div.desc {
    padding: 15px;
    text-align: center;
    color: $blanco;
    object-fit: fill;
}

  * {
    box-sizing: border-box;
}