
.mandingo{
    color: $blanco;
    font-size: 20px;
    text-align: left;
    max-width: 1240px;
    margin-inline: auto;
    gap: 70px;
    display: grid;
    grid-template-columns: 2 1fr;
    grid-template-areas: "parrafo1 img2"
                            "img1 parrafo2"
                            "parrafo3 img3";
                            


    @media only screen and (max-width: 768px){
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 95vw;

    }
    @media only screen and (max-width: 1024px){
        width: 95vw;
        margin-inline: auto;
    }
                                
    .parrafo1 {
        @media only screen and (max-width: 480px){
            font-size: 12px;
        }
        grid-area: parrafo1;
    }
    .parrafo2 {
        @media only screen and (max-width: 480px){
            font-size: 12px;
        }
        grid-area: parrafo2;
    }
    .parrafo3 {
        @media only screen and (max-width: 480px){
            font-size: 12px;
        }
        grid-area: parrafo3;
    }
    .img1{
        grid-area: img1;
    }
    .img2 {
        grid-area: img2;
    }
    .img3 {
        grid-area: img3;
    }
}

.titulosobrenosotros {
    background-image: url(../img/background.jpg);
    background-position: center;
}



