h1{
    color: $blanco;
    padding-bottom: 50px;
    margin-bottom: 50px;
    text-align: center;
    @media (min-width: 768px) {
        color: $blanco
        }
}

h2{
    color: $color_secundario;
    padding-bottom: 50px;
    padding-top: 20px;
}

.indextitulo {
    padding-top: 640px;
    color: white;
    text-transform: uppercase;
}

