h1{
    color: yellow;
    padding-bottom: 50px;
    margin-bottom: 50px;
    text-align: center;
    @media (min-width: 768px) {
        color: rgb(90, 31, 185);
        }
}

h2{
    color: yellow;
    padding-bottom: 50px;
    padding-top: 20px;
}