.footer {
  background-color: #212529;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
  height: 200px;
  position: absolute;
  margin-top: 50%;
  color: white;
}

h1 {
  color: yellow;
  padding-bottom: 50px;
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  color: yellow;
  padding-bottom: 50px;
  padding-top: 20px;
}

.consejos {
  color: white;
  font-size: 20px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: top;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 600px;
  -o-object-fit: fill;
     object-fit: fill;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
  -o-object-fit: fill;
     object-fit: fill;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
}

.informacion {
  color: white;
  font-size: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top;
}

.inicio .background {
  background-repeat: no-repeat;
  width: 100%;
  background-size: auto;
}

.logo {
  height: 70px;
  width: 50px;
}

.sobre-nosotros {
  color: white;
  font-size: 20px;
  text-align: left;
}

/* ? Caracteristicas generales */
/* ? MD */
/* informacion del index */
/* Informacion de Consejos */
/* Informacion de Sobre Nosotros */
/* Titulos */
/* Galeria */
/* Informacion del Navegador */
/* ? MD */
@media (min-width: 768px) {
  body {
    background-color: black;
  }
  .inicio .background {
    background-repeat: no-repeat;
    width: 100%;
    background-size: auto;
  }
  /* informacion del index */
  .informacion {
    color: white;
    font-size: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top;
  }
  /* Informacion de Consejos */
  .consejos {
    color: white;
    font-size: 20px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: top;
  }
  /* Informacion de Sobre Nosotros */
  .sobre-nosotros {
    color: white;
    font-size: 20px;
    text-align: left;
  }
  /* Informacion de Galeria */
  /* Titulos */
  h1 {
    color: rgb(90, 31, 185);
    padding-bottom: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  h2 {
    color: yellow;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  /* Galeria */
  div.gallery {
    border: 1px solid #ccc;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    -o-object-fit: fill;
       object-fit: fill;
  }
  div.desc {
    padding: 15px;
    text-align: center;
    color: white;
    -o-object-fit: fill;
       object-fit: fill;
  }
  * {
    box-sizing: border-box;
  }
  /* Informacion del Navegador */
  .logo {
    height: 70px;
    width: 50px;
  }
}
/* ? LG */
@media (min-width: 1024px) {
  body {
    background-color: black;
  }
  .inicio .background {
    background-repeat: no-repeat;
    width: 100%;
    background-size: auto;
  }
  /* informacion del index */
  .informacion {
    color: white;
    font-size: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top;
  }
  /* Informacion de Consejos */
  .consejos {
    color: white;
    font-size: 20px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: top;
  }
  /* Informacion de Sobre Nosotros */
  .sobre-nosotros {
    color: white;
    font-size: 20px;
    text-align: left;
  }
  /* Informacion de Galeria */
  div.gallery {
    border: 1px solid #ccc;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: 500px;
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  /* Titulos */
  h1 {
    color: yellow;
    padding-bottom: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  h2 {
    color: yellow;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  /* Galeria */
  div.gallery {
    border: 1px solid #ccc;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: 600px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  div.desc {
    padding: 15px;
    text-align: center;
    color: white;
    -o-object-fit: fill;
       object-fit: fill;
  }
  * {
    box-sizing: border-box;
  }
  /* Informacion del Navegador */
  .logo {
    height: 70px;
    width: 50px;
  }
}
/* ? XL */
@media (min-width: 1200px) {
  body {
    background-color: black;
  }
  .inicio .background {
    background-repeat: no-repeat;
    width: 100%;
    background-size: auto;
  }
  /* informacion del index */
  .informacion {
    color: white;
    font-size: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top;
  }
  /* Informacion de Consejos */
  .consejos {
    color: white;
    font-size: 20px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: top;
  }
  /* Informacion de Sobre Nosotros */
  .sobre-nosotros {
    color: white;
    font-size: 20px;
    text-align: left;
  }
  /* Informacion de Galeria */
  div.gallery {
    border: 1px solid #ccc;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: 250px;
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  /* Titulos */
  h1 {
    color: yellow;
    padding-bottom: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  h2 {
    color: yellow;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  /* Galeria */
  div.gallery {
    border: 1px solid #ccc;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: 600px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  div.desc {
    padding: 15px;
    text-align: center;
    color: white;
    -o-object-fit: fill;
       object-fit: fill;
  }
  * {
    box-sizing: border-box;
  }
  /* Informacion del Navegador */
  .logo {
    height: 70px;
    width: 50px;
  }
}
/* * ? Laptop L */
@media (min-width: 1440px) {
  body {
    background-color: black;
  }
  .inicio .background {
    background-repeat: no-repeat;
    width: 100%;
    background-size: auto;
  }
  /* informacion del index */
  .informacion {
    color: white;
    font-size: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top;
  }
  /* Informacion de Consejos */
  .consejos {
    color: white;
    font-size: 20px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: top;
  }
  /* Informacion de Sobre Nosotros */
  .sobre-nosotros {
    color: white;
    font-size: 20px;
    text-align: left;
  }
  /* Informacion de Galeria */
  div.gallery {
    border: 1px solid #ccc;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: 250px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  /* Titulos */
  h1 {
    color: yellow;
    padding-bottom: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  h2 {
    color: yellow;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  /* Galeria */
  div.gallery {
    border: 1px solid #ccc;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: 600px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  div.desc {
    padding: 15px;
    text-align: center;
    color: white;
    -o-object-fit: fill;
       object-fit: fill;
  }
  * {
    box-sizing: border-box;
  }
  /* Informacion del Navegador */
  .logo {
    height: 70px;
    width: 50px;
  }
}/*# sourceMappingURL=style.css.map */